@import 'variables.scss';
@import 'standard.scss';


#wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .blog-indlaeg {
        border: solid 1px black;
        margin: 2rem 2rem;
    }

    img {
        width: 100%;
    }

    .tekst {
        margin: 0 2rem;
    }


}







@media screen and (max-width: 900px) {

    #wrapper {
        grid-template-columns: 50% 50%;
    }
}