@import 'variables.scss';
@import 'standard.scss';



video {
    width: 100%;
    height: 100%;
}


#faktorer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}







@media screen and (max-width: 900px) {

    video {
        width: 100%;
        height: 100%;
    }
}