* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto 2rem;
  text-align: left;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f0e8;
}

h1,
h2,
h3,
p {
  margin: 1rem 0;
  word-wrap: balance;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.35rem;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
}

sub {
  vertical-align: super;
  font-size: smaller;
}

.line-break {
  margin-top: 1rem;
  background-color: black;
  height: 2px;
}

/*Navigation*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f0e8;
}

nav {
  color: black;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav a {
  color: black;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
}

nav ul a:hover {
  color: #9DC2DC;
}

.mobile-nav .bars {
  display: none;
  cursor: pointer;
}

.toggleShow {
  display: flex !important;
  flex-direction: column;
}

.active {
  color: #9DC2DC;
}

/*For anything else that comes over 1200px screen size there will be space at the sides, and content will be in the center*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

section {
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-container .footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-container .footer-info a {
  color: black;
}
.footer-container .footer-img {
  display: flex;
  flex-direction: column;
}
.footer-container img {
  height: 4rem;
}

/**********-----Mobile------**********/
@media screen and (max-width: 900px) {
  header:nth-of-type(1) {
    display: inline;
  }
  .mobile-nav {
    color: black;
  }
  .mobile-nav .bars {
    display: flex;
  }
  .desktop-nav {
    display: none;
    height: auto;
    border-top: 4px solid #9DC2DC;
  }
  .desktop-nav ul {
    flex-direction: column;
  }
  .desktop-nav li {
    display: flex;
  }
}
main .hunde-billede {
  background-image: url("img/race.png");
  background-position: center;
  background-size: cover;
  height: 15rem;
  width: 100%;
}
main img {
  height: 100%;
  max-height: 13rem;
  border-radius: 10px;
  float: left;
  margin-right: 1rem;
}
main .tekst {
  text-align: justify;
}
main #selskabshund,
main #terriere,
main #hyrdehund,
main #molosser,
main #jagthund,
main #gaardhund,
main #mynder {
  margin-bottom: 2rem;
}
main a {
  color: black;
}

#henvisninger p {
  font-size: 0.75rem;
}

@media screen and (min-width: 650px) {
  main .grid-typer {
    display: grid;
    align-items: left;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin: 2rem 0;
  }
  main img {
    height: 100%;
    max-height: 20rem;
    border-radius: 50px;
    margin-right: 0;
  }
  main .text {
    text-align: left;
  }
  #selskabshund .grid-typer,
  #terriere .grid-typer,
  #hyrdehund .grid-typer,
  #molosser .grid-typer {
    grid-template-columns: 1fr 4fr;
  }
  #jagthund .grid-typer,
  #gaardhund .grid-typer,
  #mynder .grid-typer {
    grid-template-columns: 4fr 1fr;
  }
  #jagthund .tekst,
  #gaardhund .tekst,
  #mynder .tekst {
    order: -1;
  }
}
@media screen and (min-width: 800px) {
  .hunde-billede {
    background-image: url("img/race.png");
    background-position: center bottom;
    background-size: cover;
    height: 25rem;
    width: 100%;
  }
}/*# sourceMappingURL=racer.css.map */