@import 'variables.scss';
@import 'standard.scss';

main {
  .banner-img {
    border-bottom: solid 4px #9DC2DC;
    background-image: url("img/dogwalking.jpeg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}


#index-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .page-navigation {
    display: flex;
    flex-direction: column;
  }

  .link {
    width: auto;
    border: none;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    color: black;
  }
}




/**********-----Mobile------**********/
@media screen and (max-width: 900px) {

  #index-navigation {
    grid-template-columns: 1fr;
  }
}